VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_HIVEMQ_BROKER_URL=wss://YOUR_HIVEMQ_HOST:8884/mqtt
VITE_HIVEMQ_USERNAME=
VITE_HIVEMQ_PASSWORD=
VITE_MQTT_CONTROL_TOPIC=env/classroom/control
VITE_MQTT_DATA_TOPIC=env/classroom/data
